# VS Code settings #
.vscode/

# Compiled source #
*.o
*.so
*.exe
*.out
*.pdf
/build/
libro-completo.md

# Plantilla Eisvogel
/Eisvogel-3.2.0
/templates/examples

# Logs Files
*.log
pandoc.log
node_modules

# Make y Metadata (Modificaciones minimalistas en local)
Makefile
metadata.yaml
